# ignore everything
/.minecraft/.fabric
/.minecraft/coremods
/.minecraft/crash-reports
/.minecraft/data
/.minecraft/defaultconfigs
/.minecraft/logs
/.minecraft/saves
/.minecraft/schematics
/.minecraft/screenshots
/.minecraft/emi.json
/.minecraft/usercache.json
